/* This is a reset for a body */
body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  /* End of the body reset */

  /* Header section */
  header {
    height: 15vh;
    background-color: #f1f1f1;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  /* Logo styling */
  #logo {
    display:inline-block;
    height: 80%;
    margin-left: 10px;
    width: 75px;
  }

  /* end of logo styling */
  nav {
    height: 10vh;
    background-color: #ccc;
    top: 15%;
    width: 100%;
    justify-content: center;
  }
  /* navigation text styling */
  a {
    text-decoration: none;
  }
  a>h1{
    display:inline;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0 0 1px black;
    padding: 10px;
    width:100%;
    position:relative;
    top:-20px;
    text-align: center;
  }

        /* Login link text Styling */
  nav>a#login {
    float:right;
    margin-right: 1em;
  }
         /* end of link text styling */

  /* end of navigation text styling */

  /* End of Header Styling */

  /* Main Content Styling */
  main {
    height: 75vh;
    width: 70%;
    overflow-y: auto;
    background: #666;
    position: relative;
    float:left;
  }
  aside {
    height: 75vh;

    width: 30%;
    background: #333;
    float:right;
  }
  /* End of Main Content Styling */

  /* Styling Footer */
  footer {
    height: 15vh;
    background-color: #f1f1f1;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  /* Ennf of footer styling */