/* This is a reset for a body */
body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  /* End of the body reset */

  /* Header section */
  header {
    height: 15%;
    background-color: #f1f1f1;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  header>a {
    text-decoration: none;
  }
  /* Logo styling */
  #logo {
    display:inline-block;
    height: 80%;
    margin-left: 10px;
    width: 75px;
  }

  /* end of logo styling */
  nav {
    height: 10vh;
    background-color: #ccc;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    text-align: center;
  }
  /* navigation text styling */
  a>h1{
    display:inline;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0 0 1px black;
    padding: 10px;
  nav>a {
    text-decoration: none;
    color:lightgray;
    text-shadow: 0 0 1px black;
    font-size: 1.5rem;
    background-color: #333;
    height: 100%;
  }

        /* Login Login text Styling */
  nav>a#login {

  }
         /* end of Login text styling */

  /* end of navigation text styling */

  /* End of Header Styling */

  /* Main Content Styling */
  main {
    height: 80vh;
    width: 70%;
    overflow-y: auto;
    background: #666;
    float:left;
  }
  aside {
    height: 80vh;
    width: 30%;
    background: #333;
    float:right;
  }
  /* End of Main Content Styling */

  /* Styling Footer */
  footer {
    height: 10%;
    background-color: #999;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  /* Ennf of footer styling */