*{
  margin: 0;
  padding: 0;
}
/* This is a reset for a body */
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  --light-gray: #999;
  --very-light-gray: #ccc;
  --very-dark-gray: #333;
  --dark-gray: #444;
  --darker-gray: #666;
  --too-dark-gray: #222;
  --white: white;
  --black: black;
  overflow: hidden;
}

/* End of the body reset */

/* Header section */
header {
  height: 7rem;
  background-color: var(--light-gray);
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
  flex-shrink: 0;
}

header>a {
  text-decoration: none;
  width: 100%;
  margin-top: 1rem;
}

/* Logo styling */
#logo {
  position: relative;
  display: inline-block;
  height: 80%;
  margin-left: 10px;
  width: 75px;
  mix-blend-mode: multiply;
}

/* end of logo styling */
nav {
  background-color: var(--very-dark-gray);
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  text-align: center;
  flex-direction: column;
  flex-shrink: 0;
  flex-direction: row;
  grid-template-columns: repeat(1fr) 4fr 1fr;
}

/* navigation text styling */
a>h1 {
  display: inline;
  color: var(--black);
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0 0 1px var(--black);
  padding: 10px;
  width: 100%;
  text-align: center;
}

nav>a {
  text-decoration: none;
  color: var(--light-gray);
  text-shadow: 0 0 1px var(--black);
  font-size: 1.5rem;
  background-color: var(--very-dark-gray);
  padding: 2rem;
  box-shadow: 0px 0px 1px 2px var(--dark-gray) inset;
  transition: 0.4s;
}

nav>a:hover {
  box-shadow: 0px 0px 1px 2px var(--light-gray) inset;
  color: var(--white);
}

nav>#user-area {
  float: right;
  text-decoration: none;
  cursor: pointer;
  color: var(--light-gray);
  text-shadow: 0 0 1px var(--black);
  font-size: 1.5rem;
  background-color: var(--very-dark-gray);
  padding: 2rem;
  box-shadow: 0px 0px 1px 2px var(--dark-gray) inset;
  transition: 0.4s;
}

nav>#user-area:hover {
  box-shadow: 0px 0px 1px 2px var(--light-gray) inset;
  color: var(--white);
}

/* Login Login text Styling */
label[for="login"] {
  float: right;
  text-decoration: none;
  cursor: pointer;
  color: var(--light-gray);
  text-shadow: 0 0 1px var(--black);
  font-size: 1.5rem;
  background-color: var(--very-dark-gray);
  padding: 2rem;
  box-shadow: 0px 0px 1px 2px var(--dark-gray) inset;
  transition: 0.4s;
}

label[for="login"]:hover {
  box-shadow: 0px 0px 1px 2px var(--light-gray) inset;
  color: var(--white);
}

/* end of Login text styling */


/* style Login Field */
section#login-field {
  z-index: -1;
  opacity: 0;
  transition: 0.5s;
  position: absolute;
  padding: 1rem;
  top: 50%;
  left: 50%;
  min-width: 24rem;
  transform: translate(-50%, -100%);
  background-color: rgba(51, 51, 51, 0.726);
  border: 2px solid var(--light-gray);
  border-radius: 1rem;
}

section>form>input {
  margin: 1rem 0rem;
  display: block;
  width: 100%;
  height: 2rem;
  font-size: 1rem;
  text-align: center;
}

section>form>button {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 1rem 0rem;
  display: block;
  width: 50%;
  height: 2rem;
  font-size: 1rem;
}

section>label[for="login"] {
  border-radius: 100%;
  padding: 1rem;
  font-size: 1rem;
  border: 2px solid var(--light-gray);
  position: relative;
  top: -2rem;
  left: 3rem;
}

#login:checked~#login-field {
  transition: 1s;
  z-index: 1;
  opacity: 1;
  transform: translate(-50%, -50%);
}

/* end of styling Login field */

/* Log Out Button */
#logout {
  width: 100%;
  float: right;
  text-decoration: none;
  cursor: pointer;
  color: var(--light-gray);
  text-shadow: 0 0 1px var(--black);
  font-size: 1.5rem;
  background-color: var(--very-dark-gray);
  padding: 2rem;
  box-shadow: 0px 0px 1px 2px var(--dark-gray) inset;
  transition: 0.4s;
}

#logout:hover {
  box-shadow: 0px 0px 1px 2px var(--light-gray) inset;
  color: var(--white);
}

/* End of Log Out Button */

/* end of navigation text styling */


/* End of Header Styling */

/* Container styling witch includes <main> and <aside> */
content {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  height: 71.4%;
}

/* end of Container styling witch includes <main> and <aside> */

/* Main Content Styling */
main {
  overflow-y: auto;
  background: var(--darker-gray);
  width: 100%;
}



/* User Form Start! */
fieldset#user_display {
  display: flex;
  flex-direction: column;
  background: var(--darker-gray);
  border: 2px solid var(--too-dark-gray);
  font-size: clamp(16px, 2vw, 20px);
  height: 90%;
  width: 50%;
  flex-shrink: 0;
  flex-basis: auto;
}

fieldset#user_display>label {
  display: table;
  margin-top: 1rem;
  background: var(--light-gray);
  border: 2px solid var(--too-dark-gray);
  border-bottom: none;
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 0 0.5rem;
  margin-top: 1rem;
  z-index: 1;
}

fieldset#user_display>legend,
fieldset#all_users>legend {
  background: var(--light-gray);
  border: 2px solid var(--too-dark-gray);
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-top: 1rem;
}

fieldset#user_display>input,
fieldset#user_display>textarea {
  background: var(--light-gray);
  border: 2px solid var(--too-dark-gray);
  border-radius: 0rem 0.5rem 0.5rem 0.5rem;
  padding: 0.5rem;
  font-size: clamp(16px, 2vw, 20px);
  color: var(--black);
  text-shadow: 0px 0px 2px var(--very-light-gray);
}

fieldset#user_display>textarea {
  resize: none;
  height: 100%;
}

/* User Form End! */



/* End of Main Content Styling */

/* Side Content Styling */
aside {
  overflow-y: auto;
  background: var(--very-dark-gray);
  width: 20%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
}

aside>match {
  width: 100%;
  height: 100%;
  background-color: var(--too-dark-gray);
  color: var(--white);
  text-shadow: 0px 0px 6px var(--black);
  font-size: clamp(16px, 2vw, 20px);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  overflow: hidden;

}

aside>match>section {
  position: relative;
  top: 0;
  background-color: rgba(51, 51, 51, 0.8);
  border-radius: 50px;
  line-height: 2rem;
  text-align: center;
  line-height: 2.5rem;
  padding: 1rem 0rem 1rem 0rem;
  margin: 1rem;
}

aside>match>section>opponent {
  text-shadow: 0px 0px 2px var(--white);
  position: relative;
}

/* End of Side Content Styling */

/* Styling Footer */
footer {
  display: block;
  background-color: var(--light-gray);
  width: 100%;
  height: 4rem;
  bottom: 0;
  flex-shrink: 0;
}

/* End of footer styling */